<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zewu.price.comparison.mbg.mapper.BrickOrGoodsMapper">
  <resultMap id="BaseResultMap" type="com.zewu.price.comparison.mbg.model.BrickOrGoods">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="serial_number" jdbcType="VARCHAR" property="serialNumber" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="specification" jdbcType="VARCHAR" property="specification" />
    <result column="unit_name" jdbcType="VARCHAR" property="unitName" />
    <result column="unit_name_second" jdbcType="VARCHAR" property="unitNameSecond" />
    <result column="unit_price" jdbcType="VARCHAR" property="unitPrice" />
    <result column="purchase_price" jdbcType="VARCHAR" property="purchasePrice" />
    <result column="size" jdbcType="VARCHAR" property="size" />
    <result column="color" jdbcType="VARCHAR" property="color" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, serial_number, name, specification, unit_name, unit_name_second, unit_price, 
    purchase_price, size, color
  </sql>
  <select id="selectByExample" parameterType="com.zewu.price.comparison.mbg.model.BrickOrGoodsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from brick_or_goods
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from brick_or_goods
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from brick_or_goods
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.zewu.price.comparison.mbg.model.BrickOrGoodsExample">
    delete from brick_or_goods
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zewu.price.comparison.mbg.model.BrickOrGoods">
    insert into brick_or_goods (id, serial_number, name, 
      specification, unit_name, unit_name_second, 
      unit_price, purchase_price, size, 
      color)
    values (#{id,jdbcType=VARCHAR}, #{serialNumber,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{specification,jdbcType=VARCHAR}, #{unitName,jdbcType=VARCHAR}, #{unitNameSecond,jdbcType=VARCHAR}, 
      #{unitPrice,jdbcType=VARCHAR}, #{purchasePrice,jdbcType=VARCHAR}, #{size,jdbcType=VARCHAR}, 
      #{color,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zewu.price.comparison.mbg.model.BrickOrGoods">
    insert into brick_or_goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="serialNumber != null">
        serial_number,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="specification != null">
        specification,
      </if>
      <if test="unitName != null">
        unit_name,
      </if>
      <if test="unitNameSecond != null">
        unit_name_second,
      </if>
      <if test="unitPrice != null">
        unit_price,
      </if>
      <if test="purchasePrice != null">
        purchase_price,
      </if>
      <if test="size != null">
        size,
      </if>
      <if test="color != null">
        color,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="serialNumber != null">
        #{serialNumber,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="specification != null">
        #{specification,jdbcType=VARCHAR},
      </if>
      <if test="unitName != null">
        #{unitName,jdbcType=VARCHAR},
      </if>
      <if test="unitNameSecond != null">
        #{unitNameSecond,jdbcType=VARCHAR},
      </if>
      <if test="unitPrice != null">
        #{unitPrice,jdbcType=VARCHAR},
      </if>
      <if test="purchasePrice != null">
        #{purchasePrice,jdbcType=VARCHAR},
      </if>
      <if test="size != null">
        #{size,jdbcType=VARCHAR},
      </if>
      <if test="color != null">
        #{color,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zewu.price.comparison.mbg.model.BrickOrGoodsExample" resultType="java.lang.Integer">
    select count(*) from brick_or_goods
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update brick_or_goods
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.serialNumber != null">
        serial_number = #{record.serialNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.specification != null">
        specification = #{record.specification,jdbcType=VARCHAR},
      </if>
      <if test="record.unitName != null">
        unit_name = #{record.unitName,jdbcType=VARCHAR},
      </if>
      <if test="record.unitNameSecond != null">
        unit_name_second = #{record.unitNameSecond,jdbcType=VARCHAR},
      </if>
      <if test="record.unitPrice != null">
        unit_price = #{record.unitPrice,jdbcType=VARCHAR},
      </if>
      <if test="record.purchasePrice != null">
        purchase_price = #{record.purchasePrice,jdbcType=VARCHAR},
      </if>
      <if test="record.size != null">
        size = #{record.size,jdbcType=VARCHAR},
      </if>
      <if test="record.color != null">
        color = #{record.color,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update brick_or_goods
    set id = #{record.id,jdbcType=VARCHAR},
      serial_number = #{record.serialNumber,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      specification = #{record.specification,jdbcType=VARCHAR},
      unit_name = #{record.unitName,jdbcType=VARCHAR},
      unit_name_second = #{record.unitNameSecond,jdbcType=VARCHAR},
      unit_price = #{record.unitPrice,jdbcType=VARCHAR},
      purchase_price = #{record.purchasePrice,jdbcType=VARCHAR},
      size = #{record.size,jdbcType=VARCHAR},
      color = #{record.color,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zewu.price.comparison.mbg.model.BrickOrGoods">
    update brick_or_goods
    <set>
      <if test="serialNumber != null">
        serial_number = #{serialNumber,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="specification != null">
        specification = #{specification,jdbcType=VARCHAR},
      </if>
      <if test="unitName != null">
        unit_name = #{unitName,jdbcType=VARCHAR},
      </if>
      <if test="unitNameSecond != null">
        unit_name_second = #{unitNameSecond,jdbcType=VARCHAR},
      </if>
      <if test="unitPrice != null">
        unit_price = #{unitPrice,jdbcType=VARCHAR},
      </if>
      <if test="purchasePrice != null">
        purchase_price = #{purchasePrice,jdbcType=VARCHAR},
      </if>
      <if test="size != null">
        size = #{size,jdbcType=VARCHAR},
      </if>
      <if test="color != null">
        color = #{color,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zewu.price.comparison.mbg.model.BrickOrGoods">
    update brick_or_goods
    set serial_number = #{serialNumber,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      specification = #{specification,jdbcType=VARCHAR},
      unit_name = #{unitName,jdbcType=VARCHAR},
      unit_name_second = #{unitNameSecond,jdbcType=VARCHAR},
      unit_price = #{unitPrice,jdbcType=VARCHAR},
      purchase_price = #{purchasePrice,jdbcType=VARCHAR},
      size = #{size,jdbcType=VARCHAR},
      color = #{color,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>